<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="/static/commons.css" />
        <style>
            
        </style>
    </head>
    <body>
        <form action="/home/" method="POST">
            <input type='text' name='user' />
            <input type="submit" />
        </form>
        <script src="/static/jquery-1.12.4.js"> </script>
        <script>
            
        </script>
    </body>
</html>